

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    padding: 24px;
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 200%;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 6px;
}

