<header>
    <div class="nav-container">
        <nav>
            <ul class="left-links">
                <li><a href="{{ url_for('dashboard') }}">Dashboards</a></li>
                <li><a href="{{ url_for('upload_data') }}">Upload Data</a></li>
            </ul>
            <h1>Data Insight Platform</h1>
            <ul class="right-links">
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>