<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Upload Data</title>
</head>
<body>
    {% include 'header.html' %}
    <h2>Upload Data</h2>

    <!-- Form for uploading a file -->
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <!-- File input field -->
        <div>
            <label for="file">Choose a CSV file</label>
            {{ form.file(class="form-control") }}
        </div>
        
        <!-- Submit button for the form -->
        <button type="submit">Upload</button>
    </form>

    
</body>
</html>